

.index {
    text-align: center;
}

.index div {
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    overflow:hidden;
}

.index img {
    max-height: 200px;
}

.index p {
    font-size: 15pt;
    font-weight: bold;
}


.left-menu img {
    float: left;
    display: inline-block;
}

.error {
    font-weight: bold;
    color: #EE1111;
}


.map-frame{
    position: absolute;
    padding-right: 16px;
    padding-top: 16px;
    width: 95%;
    padding-bottom: 56.25%; /* Ratio 16:9 */
}

#map
{
   position:absolute;
   display: block;
   width: 100%;
   padding-bottom: 56.25%; /* Ratio 16:9 */
}