

.index {
    text-align: center;
}

.index div {
    vertical-align: middle;
    text-align: center;
    margin: 10px;
    overflow:hidden;
}

.index img {
    max-height: 200px;
}

.index span {
    font-size: 15pt;
    font-weight: bold;
}


.left-menu img {
    float: left;
    display: inline-block;
}

.error {
    font-weight: bold;
    color: #EE1111;
}

#map {
    height: 400px;
}
