
<div class="col-sm-3 col-md-2 sidebar">

  {% if route.id %}

    <ul class="nav nav-sidebar">
        <li class="{% if not waypoint %}active{% endif %}">
          <a href="{% url 'route' route.id %}">OVERVIEW <br/>{{ route.title }}<br/>
          <img src="{{ route.cover_image }}" alt="" width='50%'>
          <img class="listen" src="/static/routebuilder/listen.png" onclick='responsiveVoice.speak("{{ route.description }}");'/>
          </a>
          <hr/>
        </li>
    </ul>

    <div class="sortable_waypoints">

      {% if waypoints %}
        <form method="GET">
          <input type="hidden" value="{{route.id}}"/>
          <input type="hidden" value="" name="waypoint_ids" class="waypoint_ids"/>
          <ul class="nav nav-sidebar">
            {% for w in waypoints %}
              <li waypoint_id="{{w.id}}" class="{% if w == waypoint %}active{% endif %}">
                <a href="{% url 'waypoint' route.id w.id %}">{{ w.title }}<br/>
                <img src="{{ w.image }}"  alt="" width='50%'>
                <img class="listen" title='Click to listen' src="/static/routebuilder/listen.png" onclick='responsiveVoice.speak("{{ w.description }}");'/>
                </a>
              </li>
            {% endfor %}
          </ul>
        </form>
      {% endif %}
    </div>

    <ul class="nav nav-sidebar">
          <li>
            <a href="{% url "waypoint_add" route_id=route.id %}">Add waypoint
            <img src="https://cdn3.iconfinder.com/data/icons/glypho-travel/64/map-pin-marker-plus-256.png" class="img-responsive" alt="" width='40%'>
            </a>
          </li>

    </ul>


    <script>
      $(".sortable_waypoints ul")
        .disableSelection()
        .sortable( { update: function(event,ui) {

            var ids = $(".sortable_waypoints ul").sortable('toArray', { attribute: 'waypoint_id' });

            $.ajax({
                  type: "POST",
                  url: "{% url "route_sort" route.id %}",
                  data: {waypoint_ids:JSON.stringify(ids)},
                  //success: function(data) { location.reload(); },
                  dataType: "text"
            });
        }
      });
    </script>

  {% endif %}
</div>

