
<h4>Route {{ route.id }}: {{ route.title }}</h4>

<div class="col-xs-12 col-sm-12 col-lg-6">
  <p>Color: {{ route.color}}</p>
  <p>Waypoints: {{ waypoints.length }}</p>
  <p class="text-muted">{{ route.description }}</p>
  <p><a class="btn btn-primary" onclick='responsiveVoice.speak("{{ route.description }}");' role="button">Listen Now &raquo;</a><p>
  <p><a class="btn btn-primary" href="{% url 'route_edit' route_id=route.id %}" role="button">Edit &raquo;</a></p>

</div>

<div class="col-xs-12 col-sm-12 col-lg-6">
  <img src="{{ route.cover_image }}" class="img-responsive" alt="Cover Image">
</div>
