{% extends "base.html" %}

{% block "title" %}
  {{ route.title }}
{% endblock %}

{% block "content" %}

        <h2>Overview</h2>

        <div class="row">
          <div class="col-xs-12 col-md-6">
            <p>Color: {{ route.color}}</p>
            <p>Waypoints: {{ waypoints.length }}</p>
            <p class="text-muted">{{ route.description }}</p>
            <p><a class="btn btn-primary" onclick='responsiveVoice.speak("{{ route.description }}");' role="button">Listen Now &raquo;</a><p>
            <p><a class="btn btn-primary" href="{% url 'route_edit' route_id=route.id %}" role="button">Edit &raquo;</a></p>
          </div>

          <div class="col-xs-12 col-md-6">
            <img src="{{ route.cover_image }}" class="img-responsive" alt="Cover Image">
          </div>

          <div class="col-xs-12 col-md-6">
            {% include "map.html" %}
          </div>

        </div>



{% endblock %}
