{% extends "base.html" %}

{% block "title" %}
  {{ route.title }} > {{ waypoint.title }}
{% endblock %}

{% block "content" %}

  <h2>
    Waypoint
  </h2>

  <div class="row">
    <div class="col-xs-12 col-md-6">

      <p>Lat/Lng: {{ waypoint.lat}} {{ waypoint.lng}}</p>
      <p>Audio: {{ waypoints.audio_file }}</p>
      <p class="text-muted">{{ waypoint.description }}</p>
      <p><a class="btn btn-primary" onclick='responsiveVoice.speak("{{ waypoint.description }}");' role="button">Listen Now &raquo;</a><p>
      <p><a class="btn btn-primary" href="{% url 'waypoint_edit' route_id=route.id waypoint_id=waypoint.id %}" role="button">Edit &raquo;</a></p>
    </div>

    <div class="col-xs-12 col-md-6">
      <img src="{{ waypoint.image }}" class="img-responsive" alt="Cover Image">
    </div>

    <div class="col-xs-12 col-md-6">
      {% include "map.html" %}
    </div>

  </div>


{% endblock %}
