
{% if waypoint.id %}
  <h4>Edit Waypoint {{ id }}</h4>
{% else %}
  <h4>New Waypoint </h4>
{% endif %}



{% if error_message %}
  <p><strong>{{ error_message }}</strong></p>
{% endif %}

<form method="POST" class="form-horizontal">
  {% csrf_token %}
  {% for field in form %}
    {% include "helper_field.html" %}
  {% endfor %}
  <input type="hidden" name='id' value="{{id}}" />
  <input type="submit" value="Submit" />
</form>

{% if waypoint.id %}
  <form action="{% url "waypoint_delete" %}" method="POST" class="form-horizontal">
    {% csrf_token %}
    <input type="hidden" name='id' value="{{ waypoint.id }}" />
    <input type="submit" value="Delete" />
  </form>
{% endif %}
