{% extends "base.html" %}

{% block "content" %}

  <h1 class="page-header">{{ route.title }}</h1>

  <div class="col-xs-12 col-sm-12 col-lg-6">

    {% if waypoint.id %}
      <h4>Edit Waypoint {{ id }}</h4>
    {% else %}
      <h4>New Waypoint </h4>
    {% endif %}

    {% if error_message %}
      <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form method="POST" class="form-horizontal">
      {% csrf_token %}
      {% for field in form %}
        {% include "helper_field.html" %}
      {% endfor %}
      <input type="hidden" name='id' value="{{id}}" />
      <p><input type="submit" class="btn btn-primary" value="Save" /></p>
    </form>

    {% if waypoint.id %}
      <form action="{% url "waypoint_delete" %}" method="POST" class="form-horizontal">
        {% csrf_token %}
        <input type="hidden" name='id' value="{{ waypoint.id }}" />
        <p><input type="submit" class="btn btn-primary" value="Delete" /></p>
      </form>
    {% endif %}

  </div>

  <div class="col-xs-12 col-sm-12 col-lg-6">
      <div id="map"></div>
  </div>

  <script>
    handle_map_click = function(lat,lng) {
      $('#id_lat').val(lat);
      $('#id_lng').val(lng);

      RouteController.add_waypoint( {
          waypoint_id: Math.floor((1 + Math.random()) * 0x100000000).toString(16),
          lat:         lat,
          lng:         lng,
          //title:     JSON.stringify( [lat, lng] ),
          //audio:     "no audio"
      });

    }
  </script>

{% endblock %}
