{% extends "base.html" %}

{% block "title" %}
  {{ route.title }} > {{ waypoint.title }}
{% endblock %}

{% block "content" %}

  <h2>
    {% if waypoint.id %} Edit {% else %}  New {% endif %} Waypoint
  </h2>

  <div class="row">
    <div class="col-xs-12 col-md-6">

      {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
      {% endif %}

      <form method="POST" class="form-horizontal">
        {% csrf_token %}
        {% for field in form %}
          {% include "helper_field.html" %}
        {% endfor %}
        <input type="hidden" name='id' value="{{id}}" />
        <p><input type="submit" class="btn btn-primary" value="Save" /></p>
      </form>

      {% if waypoint.id %}
        <form action="{% url "waypoint_delete" %}" method="POST" class="form-horizontal">
          {% csrf_token %}
          <input type="hidden" name='id' value="{{ waypoint.id }}" />
          <p><input type="submit" class="btn btn-primary" value="Delete" /></p>
        </form>
      {% endif %}

    </div>

    <div class="col-xs-12 col-md-6">
      {% include "map.html" %}

      <script>
        handle_map_click = function(lat,lng) {
          $('#id_lat').val(lat);
          $('#id_lng').val(lng);

          RouteController.add_waypoint( {
              waypoint_id: Math.floor((1 + Math.random()) * 0x100000000).toString(16),
              lat:         lat,
              lng:         lng,
              //title:     JSON.stringify( [lat, lng] ),
              //audio:     "no audio"
          });

        }
      </script>

    </div>

  </div>

{% endblock %}
